header {
    font-family: 'Amatic SC', cursive;
    font-family: 'Gorditas', cursive;
    font-family: 'Noto Serif JP', serif;
    font-size: 40px;
    text-align:right;
}

.top__test {
    position: relative;
}



.top__test-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.top__test-img {
    width: 100%;
}

.practice__btn {
    width: 200px;
    padding: 10px 0;
    color: #fff;
    border-radius: 30px;
    background:  #f047af
    text-align: center;
    box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
    margin:100px auto 0;
    display:block;
}

.title {
    background-color: #2ef8d6;
    color: rgb(252, 247, 247);
    padding: 20px 0;
    text-align: center;
}