p {
    color: rgb(38, 38, 219);
    font-weight: bold;
    font-size: 20px;
}

.text {
    color: rgb(39, 39, 224);
    font-weight: bold;
    text-align: right;
}

.plactice__img {
    margin: 60px 100px 30px 30px;
    width: 45%;
    float: right;
}

#contents {
　　position: relative;
}

.block {
    position: absolute;
    top: 420px;
    left: 100px;
    font-size: 60px;
}

.item {
    width: 950px;
    height: 170px;
    margin: 400px 20px 20px 80px;
    background: rgb(33, 33, 114);
}